<h1>Result</h1>

<section id='station-info'>
  <p>Name: <%= @facade.station_name %></p>
  <p>Address: <%= @facade.station_address %></p>
  <p>Fuel Type: <%= @facade.station_fuel_type %></p>
  <p>Access Times: <%= @facade.station_access_time %><p>
</section>